.idea/
venv/
tester/
db.sqlite3

pages/migrations/
pages/__pycache__/
pages/__init__.py

accounts/migrations/
accounts/__pycache__/
accounts/__init__.py

tasks/migrations/
tasks/__pycache__/
tasks/__init__.py

ansuz/__init__.py
ansuz/__pycache__/
