.idea/
venv/
django_venv/
db.sqlite3

pages/__pycache__/
pages/__init__.py

accounts/__pycache__/
accounts/__init__.py

tasks/__pycache__/
tasks/__init__.py

ansuz/__init__.py
ansuz/__pycache__/

media/

/tester/*.exe