{% load poll_extras %}
{% load static %}

<div class="navbar">
<!--ALFA 0.4.1-->
    <img src="{% static 'images/ansuz_small.png' %}" alt="ansuz" class="header-logo">

    <div class="link_menu">
        <a href="{% url 'home' %}">Главная</a>
        <a href="#">Задачи</a>
        <a href="/admin/" class="disabled">Лидеры</a>
        {% can_edit_tasks user as is_moderator %}
        {% if is_moderator %}
            <a href="{% url 'create_task' %}">Создать задачу</a>
            <a href="{% url 'create_theme' %}">Создать тему</a>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
    <div class="user">
        <a href="{% url 'logout' %}">{{ user.username }} <i class="fa fa-sign-out" aria-hidden="true"></i></a>
    </div>
    {% else %}
    <div class="user">
        <a href="{% url 'login' %}">Вход</a> |
        <a href="{% url 'signup' %}">Регистрация</a>
    </div>
    {% endif %}
</div>