{% load poll_extras %}

<div class="navbar">
    <h1 class="version_info">ALFA 0.4.1</h1>

    <div class="link_menu">
        <a href="{% url 'home' %}">Главная</a>
        <a href="#" class="active">Задачи</a>
        <a href="/admin/" class="disabled">Лидеры</a>
        {% can_edit_tasks user as is_moderator %}
        {% if is_moderator %}
            <a href="{% url 'create_task' %}">Создать задачу</a>
            <a href="{% url 'create_theme' %}">Создать тему</a>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
    <a href="#" class="user drop_menu">{{ user.username }}</a>
    {% else %}
    <a href="{% url 'login' %}" class="user">Войти</a>
    {% endif %}
</div>