{% extends 'base.html' %}

{% load static %}

{% block title %} Темы {% endblock %}

{% block content %}
<h2 id="section">Темы и задачи</h2>

<div class="theme_card">
    <h3>Тема 1. Потоки ввода и вывода</h3>

    <div class="task_container">
        <div class="task_info">
            <span class="mark">0/100</span>
            <a href="task.html">
            <h4>Простое сложение</h4>
            <span>Учимся складывать целые числа и выводить их.</span>
            </a>
        </div>
        <div class="task_info">
            <span class="mark">0/100</span>
            <a href="task.html">
            <h4>Простое вычитание</h4>
            <span>Учимся вычитать целые числа и выводить их.</span>
            </a>
        </div>
        <div class="task_info">
            <span class="mark">0/100</span>
            <a href="task.html">
            <h4>Умножаем АКИ Мастера</h4>
            <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam expedita quod facere illum animi corporis consequuntur odio. Saepe necessitatibus, deserunt tenetur voluptate quo voluptatibus perferendis repudiandae eveniet, quibusdam, odio dolorum! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod facere, praesentium corporis labore, nostrum enim error sed quidem voluptatibus modi voluptatem ratione quis autem quibusdam commodi culpa nulla molestias vero?</span>
            </a>
        </div>
        <div class="task_info">
            <span class="mark">0/100</span>
            <a href="task.html">
            <h4>Сложное деление</h4>
            <span>Учимся вычитать целые числа и выводить их.</span>
            </a>
        </div>
    </div>
</div>

<div class="theme_card">
    <h3>Тема 2. Условные опреторы. Циклы</h3>

    <div class="task_container">
        <div class="task_info">
            <span class="mark">0/100</span>
            <a href="task.html">
            <h4>Простое сложение</h4>
            <span>Учимся складывать целые числа и выводить их.</span>
            </a>
        </div>
        <div class="task_info">
            <span class="mark m_zero">0/100</span>
            <a href="task.html">
            <h4>Простое вычитание</h4>
            <span>Учимся вычитать целые числа и выводить их.</span>
            </a>
        </div>
        <div class="task_info">
            <span class="mark m_good">40/100</span>
            <a href="task.html">
            <h4>Умножаем АКИ Мастера</h4>
            <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam expedita quod facere illum animi corporis consequuntur odio. Saepe necessitatibus, deserunt tenetur voluptate quo voluptatibus perferendis repudiandae eveniet, quibusdam, odio dolorum! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod facere, praesentium corporis labore, nostrum enim error sed quidem voluptatibus modi voluptatem ratione quis autem quibusdam commodi culpa nulla molestias vero?</span>
            </a>
        </div>
        <div class="task_info">
            <span class="mark m_well">90/100</span>
            <a href="task.html">
            <h4>Сложное деление</h4>
            <span>Учимся вычитать целые числа и выводить их.</span>
            </a>
        </div>
    </div>
</div>

<div class="theme_card">
    <h3>Тема 3. Циклы. While и For</h3>

    <div class="task_container">
        <div class="task_info">
            <span class="mark">0/100</span>
            <a href="task.html">
            <h4>Простое сложение</h4>
            <span>Учимся складывать целые числа и выводить их.</span>
            </a>
        </div>
        <div class="task_info">
            <span class="mark m_zero">0/100</span>
            <a href="task.html">
            <h4>Простое вычитание</h4>
            <span>Учимся вычитать целые числа и выводить их.</span>
            </a>
        </div>
        <div class="task_info">
            <span class="mark m_good">40/100</span>
            <a href="task.html">
            <h4>Умножаем АКИ Мастера</h4>
            <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam expedita quod facere illum animi corporis consequuntur odio. Saepe necessitatibus, deserunt tenetur voluptate quo voluptatibus perferendis repudiandae eveniet, quibusdam, odio dolorum! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod facere, praesentium corporis labore, nostrum enim error sed quidem voluptatibus modi voluptatem ratione quis autem quibusdam commodi culpa nulla molestias vero?</span>
            </a>
        </div>
        <div class="task_info">
            <span class="mark m_well">90/100</span>
            <a href="task.html">
            <h4>Сложное деление</h4>
            <span>Учимся вычитать целые числа и выводить их.</span>
            </a>
        </div>
    </div>
</div>
{% endblock%}