<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/task.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="task_navbar">
            <h3><a href="#">>> Тема 1. Потоки ввода и вывода</a></h3>
            
            <ol>
                <a href="#"><li>Простое Сложение</li></a>
                <a href="#"><li>Простое Вычитание</li></a>
                <a href="#"><li>Умножаем АКИ Мастера</li></a>
                <a href="#"><li>Сложное деление</li></a>
            </ol>
        </div>
        <div class="task_card">
            <h2>1. Простое Сложение</h2>

            <div class="task_text">
                <p>
                    На вход подаются две различные стороны прямоугольника A и B (длина и ширина).
                    A и B - целые числа.<br>
                    <br>
                    По заданным сторонам необходимо вычислить площадь S и периметр P прямоугольника.<br>
                    <br>
                    Программа выводит на экран площадь S и на второй строке периметр P.
                </p>

                <table class="task_data_table">
                    <tr><th>Ввод:</th><th>Вывод:</th></tr>
                    <tr><td>1 2</td><td>3</td></tr>
                    <tr><td>12 14</td><td>26</td></tr>
                    <tr><td>0 71</td><td>71</td></tr>
                </table>

                <a href="#" class="send_button">Добавить решение</a>
            </div>
        </div>
    </main>

    <div class="navbar">
        <div class="link_menu">
            <a href="#">Главная</a>
            <a href="#" class="active">Задачи</a>
            <a href="#">Лидеры</a>
        </div>
        <a href="#" class="user">AlSerP</a>
    </div>
</body>
</html>