@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.solution-view {
    --width: 600px;
    font-family: 'Roboto', sans-serif;
    width: var(--width);
    margin-left: calc(50% - var(--width) / 2);
}

.solution-file {
    margin-top: 50px;
}

.solution-code {
    font-family: 'Source Code Pro', monospace;
    white-space: pre;
    margin-top: 6px;

    border: 1px solid black;
    border-radius: 3px;
    padding: 40px 20px 40px 20px;
    background-color: rgb(250, 250, 250);

    color: #666;
}

.solution-tests {
    --width: 400px;
    width: var(--width);
    margin-top: 60px;
    margin-left: calc(50% - var(--width) / 2);
}

.code_area {
    --width: 600px;
    font-family: 'Source Code Pro', monospace;
    width: var(--width);
}

#id_type {
    margin-left: 23px;
    padding: 15px;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    transition: .4s;
    background-color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.text_solution {
    font-family: 'Roboto', sans-serif;
}

label[for="id_text"] {
    display: block;
}
