.task_navbar {
    width: 310px;
    min-height: 400px;

    position: fixed;
    top: 100px;
    left: 15%;

    /* background-color: rgb(224, 236, 240); */

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h3 {
    padding-bottom: 10px;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    border-bottom: 1px solid black;
}

.task_navbar li {
    margin-top: 10px;
}

.task_navbar a {
    color: black;
    text-decoration: none;
}

.task_card {
    width: 720px;
    min-height: 400px;

    position: absolute;
    top: 100px;
    left: calc(15% + 350px);
    padding-bottom: 100px;

    /* background-color: rgb(240, 239, 224); */
    font-family: 'Roboto', sans-serif;
}

.task_card h2 {
    width: fit-content;
    padding: 15px 80px 30px 25px;
    border-bottom: 1px solid black;
    font-size: 31.5px;
    font-weight: 300;
}

.task_card p {
    width: fit-content;
    padding: 15px 80px 30px 25px;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
}

.task_data_table {
    width: 80%;
    margin-left: 10%;

    margin-bottom: 50px;
    
    border: 1px solid grey;
    border-collapse: collapse; 
}

.task_data_table th, td {
    width: 287.5px;
    font-weight: 500;

    border-left: 1px solid grey;
    padding: 10px 10px 20px 10px;
 }

.send_button {
    margin-left: 23px;
    padding: 15px;

    border: 1px solid black;
    color: black;
    text-decoration: none;
    
    transition: .4s;
    background-color: white;

    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.send_button:hover {
    color: white;
    background-color: black;
}

.solutions_block {
    width: 800px;
    margin-top: 20px;
}

.solution {
    width: 100%;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: space-between;
}

.closed {
    display: none;
}

.opened {
    display: block;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin: auto auto auto 60%;
    text-decoration: underline;
    color: #333;
}

.solution_form {
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
}

.flex-box {
    display: flex;
    justify-content: flex-end;
}