{% extends 'base.html' %}
{% load poll_extras %}

{% load static %}

{% block title %} Темы {% endblock %}

{% block content %}
<h2 id="section">Темы и задачи</h2>


{% for theme in themes %}
<div class="theme_card">
    <h3>{{ theme }}. {{ theme.description }}</h3>
    <div class="task_container">
        {% for task in theme.tasks.all %}
            {% can_edit_tasks user as is_moderator %}
            {% if task.is_visible or is_moderator %}
            <div class="task_info">
                <a href="/task/{{ task.id }}">
                    <div class="task-card-header">
                        <h4>{{ task.title }}</h4>
                        {% if user.is_authenticated %}
                            {% get_mark task user as mark %}
                        <span class="mark {% if mark == '-' %} {% elif mark == 0 %} m_zero {% elif mark < 51 %} m_good {% else %} m_well {% endif %}">{{ mark }}/100</span>
                        {% else %}
                            <span class="mark">-/100</span>
                        {% endif %}
                    </div>
                    <div class="task-description">{{ task.description }}</div>
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor%}

{% endblock%}