{% extends 'base.html' %}

{% load static %}

{% block title %} Темы {% endblock %}

{% block content %}
<h2 id="section">Темы и задачи</h2>


{% for theme in themes %}
<div class="theme_card">
    <h3>{{ theme }}. {{ theme.description }}</h3>
    <div class="task_container">
        {% for task in theme.tasks.all %}
        <div class="task_info">
            <span class="mark">-/100</span>
            <a href="/task/{{ task.id }}">
            <h4>{{ task.title }}</h4>
            <span>{{ task.description }}</span>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor%}

{% endblock%}