{% extends 'base.html' %}
{% load poll_extras %}

{% load static %}

{% block title %} Решение | Просмотр {% endblock %}

{% block content %}
<div class="solution-view">
    <div class="task-card-header">
        <h2>Просмотр решения для задачи "{{ solution.task.title }}"</h2>
        <div class="task-mark">
            <span>{{ solution.mark }}/{{ solution.task.score }}</span>
            <div class="progress-box"><div class="progress-bar" style="width: {% get_percents_by_solution solution %}%"></div></div>
        </div>
    </div>

    {% can_edit_tasks user as is_moderator %}
    {% if is_moderator %}
            <div class="task-moderation">
                <span>Модерация: </span>
                <a href="{% url 'delete_solution' solution.id %}">Удалить решение</a>
                <a href="{% url 'update_solution' solution.id %}">Изменить оценку</a>
            </div>
        {% endif %}

    <div class="solution-file">
        <span>{% get_file_name solution.upload %}:</span>
        <div class="solution-code">{{ file_text }}</div>
    </div>

    <div style="margin-top: 12px;">Результат выполнения: {{ solution.response }}</div>

    <table cellpadding="0" cellspacing="0" border="0" class="solution-tests">
        <tr class="solution-line">
            <td align="left">Тест</td>
            <td align="center">Вывод</td>
            <td align="center">Выход</td>
        </tr>
        {% for test in solution.tests|str_to_json reversed %}
        {% if test.is_correct %}
        <tr class="solution-line correct-test">
            {% else %}
        <tr class="solution-line incorrect-test">
            {% endif %}
            <td align="left">{{ test.test }}</td>
            <td align="center">{{ test.output }}</td>
            <td align="center">{{ test.answer }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock%}