{% extends 'base.html' %}
{% load poll_extras %}

{% load static %}

{% block title %} Темы {% endblock %}

{% block content %}
    <div class="task_navbar">
        <h3><a href="{% url 'home' %}">>> {{ task.theme }}. {{ task.theme.description }}</a></h3>
        <ol>
            {% for t_task in theme_tasks %}
                {% if task == t_task %}
                <a href="{% url 'task' t_task.id %}" style="color: rgb(195, 144, 224);"><li>>> {{ t_task }}</li></a>
                {% else %}
                <a href="{% url 'task' t_task.id %}"><li>{{ t_task }}</li></a>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
    <div class="task_card">
        <h2>{{ task.title }}</h2>
        {% if user.is_authenticated %}
            <span>{% get_mark task user %}/100</span>

            {% can_edit_tasks user as is_moderator %}
            {% if is_moderator %}
                <br>
                <a href="{% url 'delete_task' task.id %}">Удалить задачу</a>
                <br>
                <a href="{% url 'update_task' task.id %}">Редактировать задачу</a>
            {% endif %}
        {% else %}
            <span>-/100</span>
        {% endif %}
        <div class="task_text">
            {% autoescape off %}
            <p>{{ task.text }}</p>
            {% endautoescape %}

            <table class="task_data_table">
                <tr><th>Ввод:</th><th>Вывод:</th></tr>
                {% for test in tests %}
                    <tr><td>{{ test.0 }}</td><td>{{ test.1 }}</td></tr>
                {% endfor %}
            </table>
        </div>

        {% if user.is_authenticated %}
            <div class="solutions_block">
                <form method="post" action="upload" enctype="multipart/form-data" class="closed" id="solution_form">
                    {% csrf_token %}
                    <label for="id_upload" class="custom-file-upload">Выбрать файл</label>
                    <input type="file" name="upload" required id="id_upload" style="display: none">
                    <button class="send_button">Отправить</button>
                </form>

<!--                <a href="{% url 'upload_solution' task.id %}" class="send_button">Добавить решение</a>-->
                <div class="flex-box">
                    <a onclick="openSolutionForm()" class="send_button" id="open_button">Добавить решение</a>
                </div>

                <h3>Решения</h3>
                <div class="solutions_list">
                    {% for solution in solutions %}
                        <div class="solution">
                            <div>{{ solution.upload }}</div>
                            <div>{{ solution.status }}</div>
                            <div>{{ solution.mark }}</div>
                            <div><a style="cursor: pointer; color: rgb(195, 144, 224); text-decoration: underline" onclick='openSolution("sol{{ forloop.counter }}")'>Просмотр</a></div>
                        </div>
                        <div class="closed" id="sol{{ forloop.counter }}">
                        {% for test in solution.tests|str_to_json reversed %}
                            <div>Тест {{ test.test }} | Ответ: {{ test.output }} | Программа: {{ test.answer }}</div>
                        {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <a href="#" class="send_button disabled">Добавить решение</a>
        {% endif %}
    </div>

<script>
    function openSolution(id) {
        if(document.getElementById(id).classList.contains('opened'))
            document.getElementById(id).classList.remove('opened');
        else
            document.getElementById(id).classList.add('opened');
    }

    function openSolutionForm() {
        id = 'solution_form';
        id_button = 'open_button';
        if (document.getElementById(id).classList.contains('solution_form')) {
            document.getElementById(id).classList.remove('solution_form');
            document.getElementById(id_button).classList.remove('closed');
        }
        else {
            document.getElementById(id).classList.add('solution_form');
            document.getElementById(id_button).classList.add('closed');
        }
    }
</script>
{% endblock %}