{% load poll_extras %}
{% load static %}

<div class="task_info">
    {% get_percents task user as mark %}
    {% if mark == '-' %}
        <span class="mark">{{ mark }}/{{ task.score }}</span>
    {% elif mark == 0 %}
        <span class="mark m_zero">{{ mark }}/{{ task.score }}</span>
    {% elif mark < 51 %}
        <span class="mark m_good">{{ mark }}/{{ task.score }}</span>
    {% else %}
        <span class="mark m_well">{{ mark }}/{{ task.score }}</span>
    {% endif %}
    <a href="/task/{{ task.id }}">
    <h4>{{ task.title }}</h4>
    <span>{{ task.description }}</span>
    </a>
</div>