{% extends 'base.html' %}

{% load static %}

{% block title %} Темы {% endblock %}

{% block content %}
    <div class="task_navbar">
        <h3><a href="{% url 'home' %}">>> {{ task.theme }}. {{ task.theme.description }}</a></h3>

        <ol>
            {% for t_task in tts %}
                {% if task == t_task %}
                <a href="/task/{{ t_task.id }}" style="color: rgb(195, 144, 224);"><li>>> {{ t_task }}</li></a>
                {% else %}
                <a href="/task/{{ t_task.id }}"><li>{{ t_task }}</li></a>
                {% endif %}
            {% endfor %}
<!--            <a href="#"><li>Простое Сложение</li></a>-->
<!--            <a href="#"><li>Простое Вычитание</li></a>-->
<!--            <a href="#"><li>Умножаем АКИ Мастера</li></a>-->
<!--            <a href="#"><li>Сложное деление</li></a>-->
        </ol>
    </div>
    <div class="task_card">
        <h2>{{ task.title }}</h2>

        <div class="task_text">
<!--            <p style="white-space: pre;">-->
            {% autoescape off %}
            <p>
                {{ task.text }}
            </p>
            {% endautoescape %}

            <table class="task_data_table">
                <tr><th>Ввод:</th><th>Вывод:</th></tr>
                {% for test in tests %}
                    <tr><td>{{ test.0 }}</td><td>{{ test.1 }}</td></tr>
                {% endfor %}
            </table>

            <a href="#" class="send_button disabled">Добавить решение</a>
        </div>
    </div>
{% endblock %}